{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Login {% endblock title %}
{% block style %}<link rel="stylesheet" href="{% static 'css/main.css' %}">{% endblock style %}

{% block content %}
<span id="root">
  <section class="section-all">
    <main class="main" role="main">
      <div class="wrapper">
        <article class="article">
          <div class="content">
            <div class="login-box">
              <div class="header">
                <img class="logo" src="{% static 'image/Instagram_logo.png' %}" alt="Instagram">
              </div>
              <div class="form-wrap">
                <form class="form" method="POST">
                  {% csrf_token %}
                  {{form|crispy}}
                  <input type="hidden" name="next" value="{{ next }}">
                  <span class="button-box">
                    <button class="btn" type="submit" name="submit">Log in</button>
                  </span>  
                  <a class="forgot" href="{% url 'password_reset' %}">Forgot password?</a>
                </form>
              </div>
            </div>
            <div class="login-box">
              <p class="text">Don't have an account?<a href="{% url 'registration' %}">Sign up</a></p>
            </div>
            <div class="app">
              <p>Get the app.</p>
              <div class="app-img">
                <a href="https://itunes.apple.com/app/instagram/id389801252?pt=428156&amp;ct=igweb.loginPage.badge&amp;mt=8">
                  <img src="{% static 'image/app_store.png' %}" >
                </a>
                <a href="https://play.google.com/store/apps/details?id=com.instagram.android&amp;referrer=utm_source%3Dinstagramweb%26utm_campaign%3DloginPage%26utm_medium%3Dbadge">
                  <img src="{% static 'image/google_play.png' %}">
                </a>
              </div>
            </div>
          </div>
        </article>
      </div>
    </main>
  </section>
</span>
{% endblock content %}
