{% load post_tags %}

<div class="comments">
    <div class="comment-profile">
        <a href="{% url 'profile' comment.user %}"><img src="{{comment.user.avatar.url}}" alt="" /></a>
    </div>
    <div class="comment-main">
        <div class="comment-text">
            <a class="user" href="{% url 'profile' comment.user %}"><strong>{{comment.user}}</strong></a>
            <div>{{comment.text}}</div>
        </div>
        <div class="comment-info">
            <div class="comment-date">{{comment.created|customtimesince}}</div>
            <div class="comment-likes">
                {% if comment.likes.all|length > 1 %}
                    <span class="like-counts">{{comment.likes.all|length}}</span> <span class="like-word">Likes</span>
                {% else %}
                    <span class="like-counts">{{comment.likes.all|length}}</span> <span class="like-word">Like</span>
                {% endif %}
            </div>
            <div class="comment-reply">Reply</div>
        </div>
    </div>
    <div class="comment-like" data-commentId="{{comment.id}}" data-commentAction="{% if request.user in comment.likes.all %}dis{% endif %}like">
        {% if request.user in comment.likes.all %}
            <i style="font-size: 20px;" class="fas fa-heart heart-active"></i>
        {% else %}
            <i style="font-size: 20px;" class="far fa-heart"></i>
        {% endif %}
    </div>
</div>
<hr />
