<div>
    {% if search_result.count >= 1 %}
        <ul>
            {% for user in search_result %}
                <li style="list-style-type: none">
                    <div style="display: grid; grid-template-columns: 30% 60%;">
                        <a href="{% url 'profile' user %}">
                            <img style="height: 4em; width: 4em; border-radius: 50%;" src="{{user.avatar.url}}" alt="">
                        </a>
                        <div style="margin-top: 1em; color: #999; font-weight: 400;">
                            <span style="font-weight: 600;"">
                                <a style="text-decoration: none; color: #333; display: inline-block; width: 100%; font-weight: bold;" href="{% url 'profile' user %}">{{user}}</a>
                            </span>
                            {% if user.first_name %}
                                {{user.first_name}}
                            {% endif %}
                            {% if user.last_name %}
                                {{user.last_name}}
                            {% endif %}
                        </div>
                    </div>
                </li><hr style="color: #333; background-color: #333; background: #333;">
            {% endfor %}
        </ul>
    {% else %}
        <div>No users and tags found.</div>
    {% endif %}
</div>
