#uniqueee {
    display: block;
    width: fit-content;
    margin: auto;
    margin-top: 25px;
    padding: 30px;
}
.swal2-show {
    background-color: black;
    border: 1px solid gray;
    border-radius: 10px;
}
.swal2-title {
    margin-bottom: 20px;
}
.form-control {
    background-color: black;
    color: gray;
}
.form-control:focus {
    background-color: black;
}
.form-control[type="file"] {
    background-color: black;
    color: gray;
}
.form-control[type="file"]::file-selector-button {
    font-weight: bold;
    color: gray;
    background-color: black;
    padding-bottom: 0.5em;
    border: thin solid grey;
    border-radius: 3px;
}
.form-control[type="file"]::file-selector-button:hover {
    background-color: white;
}
.swal2-confirm[type="submit"] {
    background-color: #343a40;
}
.input-group-text {
    background-color: inherit;
}
.text-center {
    margin-top: 30px;
}
h1 {
    text-align: center;
}
#uniqueee > form {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
    grid-gap: 20px;
}
div:has(input[type="submit"]) {
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type="submit"] {
    display: flex;
    width: fit-content;
    height: fit-content;
}
label {
    font-weight: bold;
}

#unique {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden !important;
    height: 804px;
}
#unique > div {
    padding: 30px;
    border: 1px solid gray;
    border-radius: 5px;
}
h3 {
    padding-bottom: 20px;
    text-align: center;
}
form li {
    font-weight: bold;
}
div > button {
    margin-top: 10px;
}
#unique .form-control {
    border: 1px solid gray;
}
