#header-header {
    accent-color: auto;
    align-content: normal;
    align-items: normal;
    align-self: auto;
    appearance: none;
    backdrop-filter: none;
    backface-visibility: visible;
    background-attachment: scroll;
    background-blend-mode: normal;
    background-clip: border-box;
    background-image: none;
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    background-size: auto;
    block-size: 65px;
    border-block-end-style: none;
    border-block-end-width: 0px;
    border-block-start-style: none;
    border-block-start-width: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-collapse: separate;
    border-end-end-radius: 0px;
    border-end-start-radius: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-inline-end-style: none;
    border-inline-end-width: 0px;
    border-inline-start-style: none;
    border-inline-start-width: 0px;
    border-left-style: none;
    border-left-width: 0px;
    border-right-style: none;
    border-right-width: 0px;
    border-start-end-radius: 0px;
    border-start-start-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-style: none;
    border-top-width: 0px;
    bottom: auto;
    box-shadow: none;
    box-sizing: border-box;
    break-after: auto;
    break-before: auto;
    break-inside: auto;
    caption-side: top;
    clear: none;
    clip: auto;
    clip-path: none;
    clip-rule: nonzero;
    color-interpolation-filters: linearrgb;
    column-count: auto;
    column-gap: normal;
    column-rule-style: none;
    column-rule-width: 0px;
    column-span: none;
    column-width: auto;
    contain-intrinsic-block-size: none;
    contain-intrinsic-height: none;
    contain-intrinsic-inline-size: none;
    contain-intrinsic-size: none;
    contain-intrinsic-width: none;
    content: normal;
    cursor: auto;
    direction: ltr;
    display: block;
    empty-cells: show;
    fill-opacity: 1;
    fill-rule: nonzero;
    filter: none;
    flex-basis: auto;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: nowrap;
    float: none;
    flood-opacity: 1;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-kerning: auto;
    font-optical-sizing: auto;
    font-size: 16px;
    font-stretch: 100%;
    font-style: normal;
    font-variant: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 500;
    grid-auto-columns: auto;
    grid-auto-flow: row;
    grid-auto-rows: auto;
    grid-column-end: auto;
    grid-column-start: auto;
    grid-row-end: auto;
    grid-row-start: auto;
    grid-template-areas: none;
    grid-template-columns: none;
    grid-template-rows: none;
    height: 65px;
    hyphenate-character: auto;
    hyphenate-limit-chars: auto;
    hyphens: manual;
    image-orientation: from-image;
    image-rendering: auto;
    initial-letter: normal;
    inline-size: 1230px;
    inset-block-end: auto;
    inset-block-start: auto;
    inset-inline-end: auto;
    inset-inline-start: auto;
    isolation: auto;
    justify-content: normal;
    justify-items: normal;
    justify-self: auto;
    left: auto;
    letter-spacing: normal;
    line-break: auto;
    line-height: 24px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: disc;
    margin-block-end: 0px;
    margin-block-start: 0px;
    margin-bottom: 0px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    marker-end: none;
    marker-mid: none;
    marker-start: none;
    mask-type: luminance;
    math-depth: 0;
    math-shift: normal;
    math-style: normal;
    max-block-size: none;
    max-height: none;
    max-inline-size: none;
    max-width: none;
    min-block-size: 0px;
    min-height: 0px;
    min-inline-size: 0px;
    min-width: 0px;
    mix-blend-mode: normal;
    object-fit: fill;
    object-position: 50% 50%;
    offset-distance: 0px;
    offset-path: none;
    offset-rotate: auto 0deg;
    opacity: 1;
    order: 0;
    orphans: 2;
    outline-offset: 0px;
    outline-style: none;
    outline-width: 0px;
    overflow-anchor: auto;
    overflow-clip-margin: 0px;
    overflow-wrap: normal;
    overflow-x: visible;
    overflow-y: visible;
    overscroll-behavior-block: auto;
    overscroll-behavior-inline: auto;
    padding-block-end: 0px;
    padding-block-start: 0px;
    padding-bottom: 0px;
    padding-inline-end: 0px;
    padding-inline-start: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    paint-order: normal;
    perspective: none;
    perspective-origin: 615px 32.5px;
    pointer-events: auto;
    position: static;
    resize: none;
    right: auto;
    rotate: none;
    row-gap: normal;
    ruby-position: over;
    scale: none;
    scroll-behavior: auto;
    scroll-margin-block-end: 0px;
    scroll-margin-block-start: 0px;
    scroll-margin-inline-end: 0px;
    scroll-margin-inline-start: 0px;
    scroll-padding-block-end: auto;
    scroll-padding-block-start: auto;
    scroll-padding-inline-end: auto;
    scroll-padding-inline-start: auto;
    scrollbar-gutter: auto;
    shape-image-threshold: 0;
    shape-margin: 0px;
    shape-outside: none;
    shape-rendering: auto;
    stop-opacity: 1;
    stroke: none;
    stroke-dasharray: none;
    stroke-dashoffset: 0px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-width: 1px;
    tab-size: 8;
    table-layout: auto;
    text-align: left;
    text-align-last: auto;
    text-anchor: start;
    text-decoration-line: none;
    text-decoration-skip-ink: auto;
    text-decoration-style: solid;
    text-emphasis-position: over;
    text-emphasis-style: none;
    text-indent: 0px;
    text-overflow: clip;
    text-rendering: auto;
    text-shadow: none;
    text-size-adjust: 100%;
    text-transform: none;
    text-underline-position: auto;
    top: auto;
    touch-action: auto;
    transform: none;
    transform-origin: 615px 32.5px;
    transform-style: flat;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: all;
    transition-timing-function: ease;
    translate: none;
    unicode-bidi: normal;
    user-select: auto;
    visibility: visible;
    widows: 2;
    width: 1230px;
    will-change: auto;
    word-break: normal;
    word-spacing: 0px;
    writing-mode: horizontal-tb;
    z-index: auto;
    zoom: 1;
}

.header {
    padding-bottom: 3em;
}

.header-container {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    column-gap: 0%;
    margin: 0;
    height: 4em;
    border-bottom: 1px solid rgba(170, 170, 170, 0.719);
    box-shadow: 1px 1px #aaa;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    background: black;
    z-index: 100;
    color: #333;
}

.logo {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    height: inherit;
    align-items: center;
}

.logo > img {
    height: 3em;
}

.search-bar {
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.search-bar > input {
    border: 1px solid gray;
    height: 2.5em;
    border-radius: 5px;
    width: 15em;
    background-color: black;
    padding: 1em;
    color: gray;
}

.search-bar > input:focus {
    outline: none;
}

.icons > a {
    text-decoration: none;
    color: inherit;
}

.icons {
    display: grid;
    grid-template-columns: 2em 2em 2em 2em 2em 2em 2em;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.3em;
}

.icons > div {
    cursor: pointer;
}

.no-user-avatar {
    height: 1em;
    width: 1em;
    border-radius: 50%;
}
.profile > img {
    height: 33px;
    width: 2em;
    border-radius: 50%;
}

.actions-container {
    border: 1px solid gray;
    height: 400px;
    width: 25em;
    background-color: black;
    z-index: 10;
    position: fixed;
    top: 4.5em;
    right: 7.5em;
    border-radius: 5px;
    filter: drop-shadow(0px 2px 2px rgb(101, 101, 101));
    padding: 2em;
    overflow-y: auto;
    display: none;
}

.actions-container::after {
    content: "";
    width: 20px;
    height: 20px;
    background-color: black;
    position: absolute;
    right: 5.5em;
    top: -10px;
    transform: rotate(45deg);
    position: fixed;
}

.action {
    display: grid;
    grid-template-columns: 20% 20% 20% 40%;
    justify-content: center;
    align-items: center;
}

.action-user-image > a > img,
.action-target > a > img {
    width: 2em;
    height: 2em;
    border-radius: 50%;
}

.action-date {
    color: #777;
    font-size: 0.8em;
}

.show-box {
    display: block;
}

.profile-modal-container {
    height: 200px;
    width: 200px;
    background-color: black;
    border: 1px solid gray;
    position: fixed;
    top: 4.5em;
    right: 127px;
    filter: drop-shadow(0px 2px 2px rgb(101, 101, 101));
    display: grid;
    align-items: center;
    border-radius: 5px;
    z-index: 10000;
}
.profile-modal-container::before {
    border: 1px solid gray;
    content: "";
    width: 20px;
    height: 20px;
    background-color: black;
    position: absolute;
    right: 4em;
    top: -10px;
    transform: rotate(45deg);
    position: fixed;
}

.display-none {
    display: none;
}

.profile-item {
    display: grid;
    grid-template-columns: 15% auto;
    padding-left: 1em;
    height: 100%;
    width: calc(100%-1em);
    align-items: center;
    z-index: 3200;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.profile-item:hover {
    background-color: rgb(242, 251, 255);
    cursor: pointer;
    color: inherit;
}

.profile-item:last-child {
    border-top: 1px solid #afafaf;
}

.heart-active {
    color: red;
}

.search-container {
    height: fit-content;
    width: 25em;
    background-color: black;
    color: gray;
    border: 1px solid gray;
    z-index: 10;
    position: fixed;
    top: 4.5em;
    right: 47em;
    border-radius: 5px;
    filter: drop-shadow(0px 2px 2px rgb(101, 101, 101));
    padding: 2em;
    overflow-y: auto;
}

.errorlist {
    list-style-type: none;
}
