{% load static %}
{% load post_tags %}
<link rel="stylesheet" href="{% static 'css/header.css' %}">

<section id="header-header">
    <div class="header">
        <div class="header-container">
            <div class="logo">
                <img src="{% static 'image/instagram_logo.png' %}" alt="" />
            </div>
            <div>
                <form class="search-bar" method="GET">
                    <input id="search-bar" url="{% url 'search' %}" type="search" name="query" placeholder="Search..." required aria-label="Search" />
                </form>
                <div class="search-container display-none"></div>
            </div>
            <div class="icons">
                <a href="{% url 'page:home' %}" class="home">
                    <i class="fas fa-home"></i>
                </a>
                <div class="send">
                    <i class="far fa-paper-plane"></i>
                </div>
                <div class="add">
                    <i class="far fa-plus-square"></i>
                </div>
                <a href="{% url 'page:explore' %}" class="explore">
                    <i class="far fa-compass"></i>
                </a>
                {% if request.user.is_authenticated %}
                    <div class="heart">
                        {% if actions %}
                            <i class="fa-solid fa-heart fa-beat"></i>
                        {% else %}
                            <i class="fa-regular fa-heart"></i>
                        {% endif %}
                    </div>
                    <div class="profile profile-box" is-authenticated="{{request.user.is_authenticated}}">
                        <img class="profile-box" src="{{request.user.avatar.url}}" alt="" />
                    </div>
                {% else %}
                    <a href="{% url 'page:home' %}"><i class="far fa-heart"></i></a>
                    <a href="{% url 'page:home' %}"><div class="profile profile-box" is-authenticated="{{request.user.is_authenticated}}"><img class="profile-box" src="{% static 'image/no_user_avatar.png' %}" /></div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="actions-container">
        {% for action in actions %}
            <div class="action">
                <div class="action-user-image">
                    <a href="{% url 'profile' action.user %}">
                        <img src="{{action.user.avatar.url}}" alt="" />
                    </a>
                </div>
                <div class="action-act">{{action.act}}</div>
                <div class="action-target">
                    {% if action.act == "followed" or action.act == "unfollowed" %}
                        <a href="{% url 'profile' action.target %}">
                            <img src="{{action.target.avatar.url}}" alt="" />
                        </a>
                    {% elif action.act == "liked" or action.act == "disliked" or action.act == "posted" %}
                        <a href="{{action.target.get_absolute_url}}">
                            <img src="{{action.target.image.url}}" alt="" />
                        </a>
                    {% endif %}
                </div>
                <div class="action-date">{{action.created|customtimesince}} ago</div>
            </div>
        {% endfor %}
    </div>
    <div class="profile-modal-container profile-box display-none">
        <a href="{% url 'profile' request.user %}" class="profile-box profile-link profile-item">
            <i class="far fa-user-circle"></i>
            <span>Profile</span>
        </a>
        <a href="" class="profile-box profile-saves profile-item">
            <i class="far fa-bookmark"></i>
            <span>Saved</span>
        </a>
        <a href="" class="profile-box profile-settings profile-item">
            <i class="fas fa-cog"></i>
            <span>Settings</span>
        </a>
        <a href="" class="profile-box profile-switch-accounts profile-item">
            <i class="fas fa-repeat-alt"></i>
            <span>Switch Accounts</span>
        </a>
        <a href="{% url 'logout' %}?next={% url 'page:explore' %}" class="profile-box logoutbox profile-item">
            <span></span>
            <div>Log Out</div>
        </a>
    </div><hr>
</section>
{% include "components/messages.html" %}

<script src="{% static 'js/header/profile_container.js' %}"></script>
<script src="{% static 'js/header/action_container.js' %}"></script>
<script src="{% static 'js/header/search_container.js' %}"></script>
